<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{accion}} rutina</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
</div>
<div class="modal-body">
  <div class="form-group">

      <label for="nombre">Nombre:</label>
      <input class="form-control" id="nombre" [(ngModel)]="rutina.nombre" placeholder="Nombre">
      <label for="apellidos">Descripciónn:</label>
      <input class="form-control" id="descripcion" [(ngModel)]="rutina.descripcion" placeholder="Descripciónn">
      <label for="descripcion">Observaciones:</label>
      <input class="form-control" id="observaciones" [(ngModel)]="rutina.observaciones" placeholder="Observaciones">
      <label for="observaciones">Ejercicios:</label>

      <ul class="list-group overflow-scroll">
        <li class="list-group-item" *ngFor="let ejercicio of ejercicios"
          
          (click)="modificaEjercicio(ejercicio)"
        >
        <input class='form-check-input' type='checkbox' id="ejercicios" value={{ejercicio.id}} [checked]="buscaEjercicio(ejercicio)">
        {{ejercicio.nombre}}</li>
      </ul>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="guardarRutina()">Guardar</button>
</div>
