<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion}} ejercicio</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
  
        <label for="nombre">Nombre:</label>
        <input class="form-control" id="nombre" [(ngModel)]="ejercicio.nombre" placeholder="nombre">
        <label for="descripcion">Descripcion:</label>
        <input class="form-control" id="descripcion" [(ngModel)]="ejercicio.descripcion" placeholder="descripcion">
        <label for="observaciones">Observaciones:</label>
        <input class="form-control" id="observaciones" [(ngModel)]="ejercicio.observaciones" placeholder="observaciones">
        <label for="duracion">Duración:</label>
        <input class="form-control" id="duracion" [(ngModel)]="ejercicio.duracion" placeholder="(series x repeticiones)">
        <label for="tipo">Tipo:</label>
        <input class="form-control" id="tipo" [(ngModel)]="ejercicio.tipo" placeholder="tipo">
        <label for="musculosTrabajados">Músculos Trabajados:</label>
        <input class="form-control" id="musculosTrabajados" [(ngModel)]="ejercicio.musculosTrabajados" placeholder="musculosTrabajados">
        <label for="material">Material:</label>
        <input class="form-control" id="material" [(ngModel)]="ejercicio.material" placeholder="material">
        <label for="dificultad">Dificultad:</label>
        <input class="form-control" id="dificultad" [(ngModel)]="ejercicio.dificultad" placeholder="dificultad">
        <label for="video">Vídeo:</label>
        <input class="form-control" id="video" [(ngModel)]="ejercicio.video" placeholder="video">
        <label for="foto">Foto:</label>
        <input class="form-control" id="foto" [(ngModel)]="ejercicio.foto" placeholder="foto">
  
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="guardarEjercicio()">Guardar</button>
  </div>
