<div class="container">
  <div class="row">
    <h2 >Detalles de {{rutina?.nombre}}</h2>
  </div>

<div class="row">
  <label class="col-md-3" for="nombre">Nombre:</label>
  <span class="col-md-9 offset-2 offset-md-0">{{rutina?.nombre}}</span>
</div>
<div class="row">
  <label class="col-md-3" for="nombre">Ejercicios:</label>
  <span class="col-md-9 offset-2 offset-md-0">{{rutina?.nombre}}</span>
</div>
<div class="row">
  <label class="col-md-3" for="nombre">Descripcion</label>
  <span class="col-md-9 offset-2 offset-md-0">{{rutina?.descripcion}}</span>
</div>


<div class="row">
  <button class="col-auto btn btn-outline-primary" (click)="eliminarRutina()">Eliminar <i class="bi bi-trash-fill"></i></button>
  <div class="col-1"></div>
  <button class="col-auto btn btn-outline-primary" (click)="editarRutina()">Editar <i class="bi bi-pencil-fill"></i></button>
</div>

</div>
