<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{accion}} rutina</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
</div>
<div class="modal-body">
  <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input class="form-control" id="nombre" [(ngModel)]="rutina.nombre" placeholder="Nombre">
      <label for="apellidos">Descripciónn:</label>
      <input class="form-control" id="descripcion" [(ngModel)]="rutina.descripcion" placeholder="Descripciónn">
      <label for="descripcion">Observaciones:</label>
      <input class="form-control" id="observaciones" [(ngModel)]="rutina.observaciones" placeholder="Observaciones">
      <label for="observaciones">Ejercicios:</label>
      <div class="container">
        <ul class="list-group overflow-scroll">
          <li class="list-group-item" *ngFor="let ejercicio of ejercicios" >
            <div class="row">
            <div class="col-sm"><input class='form-check-input' type='checkbox' (click)="modificaEjercicio(ejercicio)" id="ejercicios" value={{ejercicio.ejercicio.id}} [checked]="buscaEjercicio(ejercicio)"></div>
            <div class="col-sm"><label>{{ejercicio.ejercicio.nombre}}</label></div>
            <div class="col-sm"><button type="button" class="btn btn-outline-primary  btn-sm" (click)="ejercicioRutina(ejercicio)" [disabled]="!buscaEjercicio(ejercicio)">Editar</button></div>
             </div>
          </li>
          
        </ul>
      </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="guardarRutina()">Guardar</button>
</div>
